footer.footer
  .container-fluid
    .row
      .col-lg-3.colsm-3.col-xs-12
        .footer_logo
          img(src="img/logo.png", alt="logo")
          h5.my-auto.mx-3 АТ-ИНФОРМ
      .footer_menu.col-sm.col-xs-12.flex-sm-shrink-1
        .row
          .col-sm-3.col-xs-12
            ul
              li Программы фирмы 1С
              li Книги 1С
              br
              li Что такое ЦСО
              li Перечень курсов
          .col-sm-5.col-xs-12
            ul
              li Сопровождение пользователей программы 1С
              br
              li Стоимость сопровождения пользователей программ 1С
          .col-sm-4.col-xs-12
            ul
              li Отзывы
              li Статьи
              br
              li Политика конфиденциальности
      .col-lg-auto.col-xs-12
        .email
          b e-mail: info@atperm.ru
        .social_group
          .row
            .social_item
              i.lab.la-vk
            .social_item
              i.lab.la-instagram
            .social_item
              i.lab.la-facebook-square
            .social_item
              i.lab.la-youtube-square
    .row
      .col-xs-12.col-lg-3
        .copyrights#copyrights
          p © 1997-{{year}}. ГК «АТ-информ».

  script(src="js/vue.js")
  script(src="js/main.js")
  script(src="js/header.js")
</body>
</html>